<div class="email-view">
  <div class="container email-view__container">
    <div class="row email-view__row">
      <div class="col-sm-2 col-3">
        <span>
          Subject:
        </span>
      </div>
      <div class="col-sm-10 col-9">
        <span>
          {{ subject }}
        </span>
      </div>
    </div>
    <div class="row email-view__row">
      <div class="col-sm-2 col-3">
        <span>
          From:
        </span>
      </div>
      <div class="col-sm-10 col-9">
        <span>
          {{ from }}
        </span>
      </div>
    </div>
    <div class="row email-view__row">
      <div class="col-sm-2 col-3">
        <span>
          To:
        </span>
      </div>
      <div class="col-sm-10 col-9">
        <span title="{{to}}">
          {{ to }}
        </span>
      </div>
    </div>
    <div class="row email-view__row">
      <div class="col-sm-2 col-3">
        <span>
          When:
        </span>
      </div>
      <div class="col-sm-10 col-9">
        <span>
          {{ when }}
        </span>
      </div>
    </div>
    <div class="row email-view__body">
      <div class="col-12">
        <p>
          {{ body }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="email-view__attachment" *ngIf="withAttachment">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.931 15"><path d="M6.799 3.625a2.305 2.305 0 10-3.232 3.231l4.304 4.304a.522.522 0 00.739-.738L4.306 6.118c-.536-.536-.878-1.338-.231-1.985.645-.647 1.449-.304 1.985.232l4.972 4.971c1.906 1.909 2.382 2.788 1.246 3.925-1.149 1.148-2.367.864-4.201-.97L2.367 6.58C1.174 5.387.338 3.44 1.907 1.872c1.86-1.862 3.986-.032 4.592.575l5.11 5.112a.522.522 0 00.74-.739L7.237 1.71C5.186-.343 2.86-.562 1.167 1.133-.544 2.843-.36 5.33 1.628 7.318l5.711 5.71C7.967 13.658 9.312 15 10.858 15a3.012 3.012 0 002.16-1.002c2.075-2.076.155-3.998-1.246-5.401z"/></svg>
          There is an attachment. But I can not show you it yet.
        </div>
      </div>
    </div>
    <div class="row email-view__actions">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="hide()">
          Hide
        </button>
      </div>
    </div>
  </div>
</div>
