@import "../../../assets/styles/vars";

.email-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $light;
  padding: 20px 0;
}

.email-view__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.email-view__row {
  border-bottom: 1px solid $neutral;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.email-view__body {
  margin-top: 8px;
  margin-bottom: auto;
}

.email-view__attachment svg {
  width: 14px;
  margin-right: 8px;
}

.email-view__actions {
  margin-top: 8px;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .email-view {
    font-size: 0.8rem;
  }
}
