:host {
  display: block;
  height: 100vh;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
}

input-datepicker {
  margin-bottom: 24px;
}

email-table {
  overflow: hidden;
  flex: 0 1 100%;
}
