/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url("../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css");

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

label {
  margin: 0;
}
